integrasjoner/behandleForeldrepengesak-v1/src/main/resources/wsdl/no/nav/tjeneste/virksomhet/behandleForeldrepengesak/v1/behandleForeldrepengesak.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="behandleForeldrepengesak" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1/meldinger">
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1/feil" schemaLocation="feil/feil.xsd"/>
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleForeldrepengesak/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
            <xsd:element name="ping">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="OpprettSak">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" type="meldinger:OpprettSakRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="OpprettSakResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="response" type="meldinger:OpprettSakResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="OpprettSakSakEksistererAllerede" type="feil:SakEksistererAllerede"/>
            <xsd:element name="OpprettSakugyldigInput" type="feil:UgyldigInput"/>
            <xsd:element name="OpprettSaksikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OpprettSakRequest">
        <wsdl:part element="tns:OpprettSak" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OpprettSakResponse">
        <wsdl:part element="tns:OpprettSakResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OpprettSakSakEksistererAllerede">
        <wsdl:part element="tns:OpprettSakSakEksistererAllerede" name="SakEksistererAllerede"/>
    </wsdl:message>
    <wsdl:message name="OpprettSakUgyldigInput">
        <wsdl:part element="tns:OpprettSakugyldigInput" name="ugyldigInput"/>
    </wsdl:message>
    <wsdl:message name="OpprettSakSikkerhetsbegrensning">
        <wsdl:part element="tns:OpprettSaksikkerhetsbegrensning" name="sikkerhetsbegrensning"/>
    </wsdl:message>
    <wsdl:portType name="BehandleForeldrepengesak_v1">
        <wsdl:operation name="ping">
            <wsdl:documentation> </wsdl:documentation>
            <wsdl:input message="tns:pingRequest"/>
            <wsdl:output message="tns:pingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="OpprettSak">
            <wsdl:input message="tns:OpprettSakRequest"/>
            <wsdl:output message="tns:OpprettSakResponse"/>
            <wsdl:fault message="tns:OpprettSakSakEksistererAllerede" name="OpprettSakFault"/>
            <wsdl:fault message="tns:OpprettSakUgyldigInput" name="OpprettSakFault1"/>
            <wsdl:fault message="tns:OpprettSakSikkerhetsbegrensning" name="OpprettSakFault2"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>