integrasjoner/foreldrepengesak-v1/src/main/resources/wsdl/no/nav/tjeneste/virksomhet/foreldrepengesak/v1/foreldrepengesak.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="foreldrepengesak" targetNamespace="http://nav.no/tjeneste/virksomhet/foreldrepengesak/v1" xmlns:tns="http://nav.no/tjeneste/virksomhet/foreldrepengesak/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/foreldrepengesak/v1" xmlns:feil="http://nav.no/tjeneste/virksomhet/foreldrepengesak/v1/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/foreldrepengesak/v1/meldinger">
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/foreldrepengesak/v1/feil" schemaLocation="feil/feil.xsd"/>
            <xsd:import namespace="http://nav.no/tjeneste/virksomhet/foreldrepengesak/v1/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
            <xsd:element name="ping">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finnSakListe">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request" type="meldinger:FinnSakListeRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finnSakListeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="response" type="meldinger:FinnSakListeResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finnSakListesikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="pingRequest">
        <wsdl:part element="tns:ping" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="tns:pingResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="finnSakListeRequest">
        <wsdl:part element="tns:finnSakListe" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="finnSakListeResponse">
        <wsdl:part element="tns:finnSakListeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="finnSakListeSikkerhetsbegrensning">
        <wsdl:part element="tns:finnSakListesikkerhetsbegrensning" name="sikkerhetsbegrensning"/>
    </wsdl:message>
    <wsdl:portType name="foreldrepengesak_v1">
        <wsdl:operation name="ping">
            <wsdl:documentation> </wsdl:documentation>
            <wsdl:input message="tns:pingRequest"/>
            <wsdl:output message="tns:pingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="finnSakListe">
            <wsdl:input message="tns:finnSakListeRequest"/>
            <wsdl:output message="tns:finnSakListeResponse"/>
            <wsdl:fault message="tns:finnSakListeSikkerhetsbegrensning" name="finnSakListeFault"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>